<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>send message page</title>
    <script src="../../../static/js/lib/jquery-lib-min.js"></script>
    <link rel="stylesheet" href="../../../static/css/css/bootstrap.css">
    <link rel="stylesheet" href="../../../static/css/contentManager/sendMessage/sendMessage.css">
</head>
<body onload="show()">
    <!-- navbar content start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/contentManager/home">express</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="/contentManager/home">home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/generalController/logout">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navbar content start -->

    <div class="search-container">
        
        <select id="dropdownId" name="idList">
            <option class='touch' value="">------</option>
        </select>
        <!-- <div class="input-group mb-3">
            <select onclick="show()" class="custom-select" id="dropdownId">
              <option vlaue="">Choose...</option>
            </select>
        </div> -->
        
        <form action="/generalController/postCreate" method="POST">
            <input type="text" id="idOfUser" placeholder="sender name" name="sender-name" class="sender-name" readonly>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Create new message:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="post" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">send message</button>
        </form>
    </div>
    <!-- JS library link start -->
        <script src="../../../static/js/contentManager/showAllUser.js"></script>

        <!-- jQuery library -->
        <script src="../../../static/js/lib/jquery-lib-min.js"></script>
        <!-- Popper JS -->
        <script src="../../../static/js/lib/popper-min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="../../../static/js/lib/js-bootstrap-min.js"></script>


        <!-- JS library link end -->
</body>
</html>