<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>update content manager profile</h1>
    <a href="#">complete update</a>
    <br>
    <a href="/contentManager/home">home</a>
    <a href="/generalController/logout">logout</a>
</body>
</html>