<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../static/css/contentManager/home/index.css">
        <title>Admin Homepage</title>
    </head>
    <body>
        <!-- navbar content start -->
        <nav>
            <div class="home">
                <a href="">express</a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/systemAdmin/profile/viewProfile">profile</a></li>
                    <li><a href="/generalController/logout">logout</a></li>
                </ul>
            </div>
        </nav>
        <!-- navbar content start -->
        <!-- <h1>welcome content manager home</h1> -->

        <!-- functionality content start -->
        <section>
            <div class="row">
                <div class="col"><a href="/systemAdmin/register/amRegister">Account Manager Register</a></div>
                <div class="col"><a href="/systemAdmin/register/cmRegister">Content Manager Register</a></div>
                <!-- <div class="col"><a href="/systemAdmin/reportAnalysis/report">report analysis</a></div>
                <div class="col"><a href="/systemAdmin/createPost/createPost">Create new post</a></div>
                <div class="col"><a href="/systemAdmin/sendMessage/sendMessage">send message</a></div> -->
            </div>
        </section>
        <!-- functionality content end -->
        
    </body>
</html>