<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin report analysis</title>
        <link rel="stylesheet" href="../../../static/css/systemAdmin/reportAnalysis/report.css">
    </head>
    <body>
        <!-- navbar content start -->
        <nav>
            <div class="home">
                <a href="#">express</a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/systemAdmin/home">home</a></li>
                    <li><a href="/generalController/logout">logout</a></li>
                </ul>
            </div>
        </nav>
        <!-- navbar content start -->

        <section>
            <div class="row">
                <div class="col1">
                    <div class="post">
                        <h1>5</h1>
                        <h3>today's post</h3>
                    </div>
                    <div class="post">
                        <h1>15</h1>
                        <h3>total post</h3>
                    </div>
                    <div class="post">
                        <h1>5</h1>
                        <h3>custom info</h3>
                        <form>
                            <select id="time" name="time">
                              <option value="three-days">three days</option>
                              <option value="one-week">one week</option>
                              <option value="last-month">last month</option>
                              <option value="one-year">one year</option>
                            </select>
                          </form>
                    </div>
                    <div class="post">
                        <h1>2</h1>
                        <h3>pending post</h3>
                    </div>
                    <div class="post">
                        <h1>3</h1>
                        <h3>deleted post</h3>
                    </div>
                    <a href="#" class="print">print report</a>
                </div>
            </div>
            
        </section>
    </body>
</html>