<!DOCTYPE html>
<html>
<head>
	<title>User Account - System Admin Action Page</title>
</head>
<body style="background-color:gray;">
	<div style="height:150px;background-color:rgb(44,237,14);margin-top:0px;">
		<h1 style="margin-left:50px;">
			<br/>User Account - System Admin Action Page
		</h1>
		<a href="/generalController/logout" style="margin-left:900px;">Logout</a>
		<a href="/systemAdmin/home" style="margin-left:10px;">Back</a>
	</div>

	<div style="float:left;width:60%;background-color:white;margin-left:50px;padding:20px">
		<center><br/>
			Profile information of - User1 <hr>
			Name : Full name<br/>
			email : mail@express.com <br/>
			Phone : 017XX XXXXXX<br/>
			Username : username <br/>
			Gender : Male.<br/>
			Birthdate: 30th Feb 2020.<br/><br/>
			<!--<input type="button" style="border-radius:15px;background-color:dodgerblue;" value="Edit Information">-->
			<hr/>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px">
				Username<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing..........<br/><br/>
				29Likes * 3Comments
			</div>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px;">
				Username<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing..........<br/><br/>
				29Likes * 3Comments
			</div>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px;">
				Username<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing..........<br/><br/>
				29Likes * 3Comments
			</div>
		</center>
	</div>
	<div style="float:right;width:25%;height:500px;background-color:white;margin-right:50px;padding:20px">
		<center><br/><br/><br/><br/>
		<select name="users">
			<option value="">User1</option>
			<option value="">User2</option>
			<option value="">User3</option>
			<option value="">User4</option>
			<option value="">User5</option>
			<option value="">User6</option>
			<option value="">User7</option>
			<option value="">User8</option>
		</select><br/><br/>
		<input type="button" style="border-radius:15px;background-color:red;" value="Remove this user"><br/><br/>
		<input type="button" style="border-radius:15px;background-color:lime;" value="Send Notification"><br/><br/>
		<input type="button" style="border-radius:15px;background-color:green;" value="Block/Ban User"><br/><br/>
		<input type="button" style="border-radius:15px;background-color:dodgerblue;" value="Unblock!"><br/><br/>
		</center>
	</div>
</body>
</html>