<!DOCTYPE html>
<html>
	<head>
		<title>Express</title>
	</head>
<body>
	<div style="height:150px;background-color:rgb(44,237,14);margin-top:0px;">
		<h1 style="margin-left:50px;">
			
			<br/>Express - Landing Page
		</h1>
		<a href="/generalController/register" style="margin-left:900px;">Register account</a>
		<a href="#" style="margin-left:10px;">About</a>
	</div>
	
	<div style="float:left;width:450px;margin-top:100px;margin-left:250px">
		<br>
		<br>
		<form method="post">
			email: 
			<input type="text" name="email"><br/><br/>
			password: 
			<input type="password" name="password"><br/><br/>
			<input type="submit" value="login">
		</form>
	</div>
	
	<div style="float:right;width:300px;margin-top:100px;margin-right:250px">
		<p>
			Express is a social network and communication site. This site can be used as a communication medium between multiple users and also users can update their general information time to time here. Several account supervisors are there to control contents that users are making here.
		</p>
	</div>
</body>	
</html>