*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #5f6491;
    padding: 10px;
}

nav .home{
    flex-basis: 70%;
}

nav .home a{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

nav .menu{
    flex-basis: 30%;
}

nav .menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav .menu ul li{
    flex-basis: 0%;
    list-style: none;
    padding-left: 30px;
}

nav .menu ul li a{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

table{
    width: 500px;
    margin: 0 auto;
    padding: 100px 0 0 0;
    font-size: 30px;
}

.button{width: 500px;margin: 0 auto;text-align: center;}

.update{
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    background-color: #cecece;
    border-radius: 5px;
}

.delete{
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    margin-right: 100px;
    background-color: #cecece;
}

