<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin content request</title>
    <link rel="stylesheet" href="../../../static/css/systemAdmin/contentView/contentRequest.css">
</head>
<body>
    <!-- navbar content start -->
    <nav>
        <div class="home">
            <a href="#">express</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/systemAdmin/home">home</a></li>
                <li><a href="/generalController/logout">logout</a></li>
            </ul>
        </div>
    </nav>
    <!-- navbar content start -->

    <!-- request post content start -->
    <section>
        <div class="row">
            <div class="col1"></div>
            <div class="col2">
                <div class="post">
                    <a href="#" class="user">user1</a>
                    <span>public</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dignissimos amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dignissimos amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dignissimos amet.</p>
                    <a href="#" class="approve">approve</a>
                    <a href="#" class="delete">delete</a>
                    <a href="#" class="warning">warning</a>
                    <a href="#" class="block">block request</a>
                </div>
                <div class="post">
                    <a href="#" class="user">user2</a>
                    <span>public</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dignissimos amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dignissimos amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dignissimos amet.</p>
                    <a href="#" class="approve">approve</a>
                    <a href="#" class="delete">delete</a>
                    <a href="#" class="warning">warning</a>
                    <a href="#" class="block">block request</a>
                </div>
                <div class="post">
                    <a href="#" class="user">user3</a>
                    <span>public</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dignissimos amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dignissimos amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dignissimos amet.</p>
                    <a href="#" class="approve">approve</a>
                    <a href="#" class="delete">delete</a>
                    <a href="#" class="warning">warning</a>
                    <a href="#" class="block">block request</a>
                </div>
            </div>
            <div class="col3"></div>
        </div>
    </section>
    <!-- request post content end -->
</body>
</html>