*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7e7e7;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #627c87;
    padding: 10px;
}

nav .home{
    flex-basis: 70%;
}

nav .home a{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

nav .menu{
    flex-basis: 30%;
}

nav .menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav .menu ul li{
    flex-basis: 0%;
    list-style: none;
    padding-left: 30px;
}

nav .menu ul li a{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.search-container{
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
.search{
    width: 50%;
    height: 30px;
}

.submit{
    width: 30px;
    height: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col1{
    flex-basis: 20%;
}

.col2{
    flex-basis: 60%;
}

.col3{
    flex-basis: 20%;
}

.post{
    padding: 20px;
    margin-bottom: 5px;
    background-color: white;
}

.user{
    font-size: 22px;
    color: #6464bc;
}

.delete{
    padding: 5px;
    background-color: #ffbb61;
    border-radius: 5px;
}