<!DOCTYPE html>
<html>
<head>
	<title>Report Analysis - Express</title>
</head>
<body style="background-color:gray;color:white;">
	<div style="height:150px;background-color:rgb(44,237,14);margin-top:0px;">
		<h1 style="margin-left:50px;">
			<br/>Report / Activity Details - Account Manager
		</h1>
		<a href="/accountManager/home" style="margin-left:900px;">Home</a>
		<a href="/generalController/logout" style="margin-left:10px;">logout</a>
	</div>

	<div style="width:90%;padding:20px">
		<br/><br/><br/><center>
		User Activity Details / Report : <br/><br/><input type="text" style="width:20%;border-radius:15px;background-color:gray;"><input type="button" style="border-radius:15px;background-color:dodgerblue" value=" search "><br/><br/>
		<table border="2px">
			<tr>
				<th>UserID</th>
				<th>Name</th>
				<th>Username</th>
				<th>Email</th>
				<th>Current Status</th>
				<th>No of Posts</th>
				<th>No of Offended Contents</th>
				<th>Last Inactivity Date</th>
				<th>Reg Date</th>
			</tr>
			<tr>
				<td>111</td>
				<td>ALam</td>
				<td>alam007</td>
				<td>alam007@aol.com</td>
				<td>Active</td>
				<td>32</td>
				<td>3</td>
				<td>12-01-2020</td>
				<td>14-11-2019</td>
			</tr>
			<tr>
				<td>112</td>
				<td>Sagar</td>
				<td>MdSagar</td>
				<td>MdSagar@outlook.com</td>
				<td>Active</td>
				<td>22</td>
				<td>5</td>
				<td>23-2-2019</td>
				<td>17-12-2018</td>
			</tr>
			<tr>
				<td>113</td>
				<td>Ratan</td>
				<td>RatanM23</td>
				<td>RatanM23@gmail.com</td>
				<td>Inactive</td>
				<td>54</td>
				<td>8</td>
				<td>27-11-2019</td>
				<td>23-2-2017</td>
			</tr>
			<tr>
				<td>114</td>
				<td>Alvi</td>
				<td>Alvi45</td>
				<td>Alvi45@live.com</td>
				<td>Inactive</td>
				<td>33</td>
				<td>6</td>
				<td>27-11-2018</td>
				<td>15-6-2018</td>
			</tr>
			<tr>
				<td>115</td>
				<td>Zarin</td>
				<td>ZarinLive</td>
				<td>Zarin447@yahoo.com</td>
				<td>Active</td>
				<td>15</td>
				<td>0</td>
				<td>23-12-2019</td>
				<td>23-12-2019</td>
			</tr>
			<tr>
				<td>116</td>
				<td>Moris</td>
				<td>Zenard_Moris</td>
				<td>MorisZN@hotmail.com</td>
				<td>Active</td>
				<td>56</td>
				<td>6</td>
				<td>11-3-2016</td>
				<td>11-3-2016</td>
			</tr>
		</table><br/><br/>
		<input type="button" style="border-radius:15px;background-color:dodgerblue;width:20%;" value="Print Report">
		</center>
	</div>

</body>
</html>