*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: inline-block;
    text-decoration: none;
}

nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #5f6491;
    padding: 10px;
}

nav .home{
    flex-basis: 70%;
}

nav .home a{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

nav .menu{
    flex-basis: 30%;
}

nav .menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav .menu ul li{
    flex-basis: 0%;
    list-style: none;
    padding-left: 30px;
}

nav .menu ul li a{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

section{
    padding: 20px;
}

section .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section .row .col{
    flex-basis: 33.3%;
    text-align: center;
    padding: 30px;
    background-color: #d5d5d5;
    margin: 20px;
    height: 150px;
    border-radius: 10px;
}

section .row .col a{
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    padding: 30px;
}

section .row .col a:hover{
    font-size: 33px;
}




